{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">


            <H1>Welcome to our School E-Portal</H1>
            <P style="align-items: center;margin-left:25px;font-size: 18px; letter-spacing: 5px;">
                Our Vision is to make pakistan pride.
            </P>
            <img src="hello world\sa.jpg" alt="" style="width: 350px; height: 450px;">

        </div>
    </div>
</div>
{% endblock %}